*{
  margin: 0;
}


img {
	margin bottom: 5px;
	height: 35px;
	width: 33px;
}

.footer {
	background-color: #2a353d;
	color: #fff;
	border-radius: 0;
	margin-bottom: 0px;
  	margin-top: 30px;
  	height: 50px;
  	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
