/*Navbar*/
.navbar {
    background-color: #2a353d !important;
    height: 10%;
}

a {
	font-size: 15px;
}

.navbar-light .navbar-brand{
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff !important
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff !important
}

.dropdown-menu {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	width: bold;
	min-width: 1rem !important
}

.dropdown-item {
	font-size: 12px;
	padding-top: 2%
	margin-bottom: 1.1rem 0 0;
	padding: .12rem 1.0rem;
	width: 70%;
	font-weight: 200;
}	
/*End Navbar*/
/*---------------------------------------------*/

/*Jumbo*/
.jumbotron-fluid {
	text-align-last: center;
    max-height: 200%;
    width: 100%;
}

.display-4 {
	font-size: 9.7rem !important
}

.display-4 {
	font-weight: 100 !important
}

.lead {
	font-size: 4.0rem !important
}

.lead {
	font-weight: 200 !important
}
/*End Jumbo*/
/*---------------------------------------------*/

/*About Us*/

/*End About Us*/

/* .footer {
	background-color: #2a353d;
	color: #fff;
	border-radius: 0;
	margin-bottom: 0px;
  margin-top: 30px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
} */
.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

.footer {
	background: #2a353d;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	/*border-bottom: 1px solid #BAC1C8;*/
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 10px 0 15px;
	margin-top: 1px;
	/*text-transform: uppercase;*/
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #fff
}
.phone{
	float:left;
	color:wheat;
	margin-left: 0;
}
.phone-icon{
	float:left;
	margin-left: 0;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

/* Social network icons div*/
.col-lg-3.col-md-3.col-sm-6.col-xs-12 {
	float: right;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 4% 0 0;
	padding: 0;
	text-align: right;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #f34213;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: red !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}
.fa:hover{
    color: #e13d3a;
}

/* Bottom Footer */
.footer-bottom {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.pull-center {
    text-align: center !important;
}

.footer-bottom p.pull-center {
    font-size: 12px;
    font-weight: bold;
    padding-top: 0%;
    margin-bottom: 0%;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
