/*Navbar*/
.navbar {
    background-color: #2a353d !important;
    height: 10%;
}

a { 
	font-size: 15px;
}

#icon {
	font-size: 20px;
}

.navbar-light .navbar-brand{
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff !important
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff !important;
}

.dropdown-menu {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	width: bold;
	min-width: 1rem !important
}

.dropdown-item {
	font-size: 12px;
	padding-top: 2%
	margin-bottom: 1.1rem 0 0;
	padding: .12rem 1.0rem;
	width: 70%;
	font-weight: 200;
}
/*End Navbar*/
/*---------------------------------------------*/

/*Jumbo*/
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/back1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height:100vh;
    /* opacity : 0.4; */
    text-shadow: black 0.2em 0.3em 0.3em;
}

.jumbotron-fluid {
	text-align-last: center;
    max-height: 200%;
    width: 100%;
}

.display-4 {
	font-size: 9.7rem !important
}

.display-4 {
	font-weight: 100 !important
}

.lead {
	font-size: 4.0rem !important
}

.lead {
	font-weight: 200 !important
}
/*End Jumbo*/
/*---------------------------------------------*/
/* modal */
div.modal div.modal-backdrop {
    z-index: 0;
}
/*About Us*/
/* About
*********************/
.about {
	position: relative;
	overflow-x: hidden !important;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff; 
}

.justify-content-center {
	width: 100%;
	margin-left:  0%;
	margin-right: 0%;
	margin-bottom: 4%;
	margin-top: 4%;
}

.about .hero {
  padding-left: 0%; }
  
	.about .hero .info h4 {
      font-size: 2rem; }
    .about .hero .info h6 {
      font-size: 1.1rem;
      letter-spacing: 1px; }
      
.about .photo {
  padding: 0%;
  position: relative;
  border-radius: 2px; 
}

  .about .photo img {
    height: auto;
    max-width: 100%;
    vertical-align: right;
    border-radius: 5px;
    border: 2px solid #f4f5f8; }

/*********************

/*End About Us*/
/*---------------------------------------------*/

/*Services*/

/*End Services*/
/*---------------------------------------------*/

/*Packages & Pricing*/


/*End Packages & Pricing*/
/*---------------------------------------------*/

/*Contact*/
.container-fluid {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.h2, h2 {
    font-size: 2.5rem !important;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 2%;
	color: #2a353d !important;
}


/*End Contact*/
/*---------------------------------------------*/

/*Footer*/
.footer {
	background: #2a353d;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
	position: relative;
	width: 100%;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

#icon-footer {
	font-size: 17px;
}

.footer p {
	margin: 0;
	font-size: 10px;
}

.footer h3 {
	color: #fff;
	font-size: 21px;
	margin-top: 1%;
	font-weight: bold;
}

.footer ul {
	list-style-type: none;
	margin-left: 68%;
	padding-left: 0;
	margin-top: 1%;
	color: #f34213;
}

.footer a {
	font-size: 15px;
}

.ion-android-mail {
	font-style: initial;
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}

.social li {
	background: none repeat scroll 0 0 #dce1e9;
	border: 0.5px solid #f34213;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 4% 0 0;
	padding: 0;
	padding-left: 0%;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	font-size: 20px;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #f34213;

}
.social li:hover {
	background: #fff;
	border-color: #f34213;
}

/* Bottom Footer */
.footer-bottom {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	background: #dce1e9;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pull-center {
    text-align: center !important;
}

.footer-bottom p.pull-center {
    font-size: 12px;
    font-weight: bold;
    padding-top: 0%;
    margin-bottom: 0%;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
